.doll {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    flex-shrink: 0;

    width: 442px;
    height: 692px;

    background-image: url("./hoops.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    cursor: pointer;
}
