.slot {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.slot__name {
    margin-bottom: 5px;
}

.slot__image {
    width: 75px;
    height: 75px;
    padding: 5px;

    background: #703302;
    border: 2px solid #340f0e;
    border-radius: 3px;
}
